<%= link_to "Create a new book", new_book_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>

<h1 class="text-4xl font-bold my-4">Books</h1>
<% @books.each do |book| %>
  <h3 class="text-xl font-bold"><%= book.title %></h3>
  <p>Category: <%= book.category %></p>
  <p>Type: <%= book.book_type %></p>
  <%= link_to "View Book", book_path(book), class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
  <hr class="my-4">
<% end %>