<%= link_to "View books list", books_path, class: "bg-blue-700 hover:bg-blue-500 inline-block transition-all duration-500 text-white font-bold py-2 px-4 my-2 rounded" %>
<%= link_to 'Edit Chapters', book_chapters_path(@book), class: "bg-blue-700 hover:bg-blue-500 inline-block transition-all duration-500 text-white font-bold py-2 px-4 my-2 rounded" %>
<%= link_to 'Edit Sections', book_sections_path(@book), class: "bg-blue-700 hover:bg-blue-500 inline-block transition-all duration-500 text-white font-bold py-2 px-4 my-2 rounded" %>
<h1 class="text-4xl font-bold mb-4"><%= @book.title %></h1>

<% @book.chapters.each do |chapter| %>
  <h2 class="text-2xl font-bold mb-2"><%= chapter.title %></h2>

  <% chapter.sections.each do |section| %>
    <% unless section.title == "Introduction" %>
      <h3 class="text-xl font-bold mb-2"><%= section.title %></h3>
    <% end %>

    <% section.paragraphs.each do |paragraph| %>
      <p class="mb-2"><%= paragraph.content %></p>
    <% end %>
  <% end %>
<% end %>
